body {
    // background-color: #333;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;
    color: rgb(233, 237, 204);  
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    margin: 0px;
}




$bleu-tres-fonce: rgb(42, 59, 75);
$bleu-fonce: rgb(61, 80, 106);
$bleu-moyen: rgb(95, 129, 160);
$bleu-pale: rgb(186, 221, 255);


.btn-player,
.btn-retour,
.conteneur {

    box-sizing: border-box;
    border-bottom:3px solid rgba(49, 49, 49, 0.8) ;
    border-right:3px solid rgba(49, 49, 49, 0.8) ;
    border-top:2px solid rgba(226, 238, 255, 0.9) ;
    border-left:3px solid rgba(199, 215, 237, 0.6) ;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    background-color: $bleu-moyen;

}

.btn-retour {
    
    height: 50px;
    margin: 30px;
    padding: 10px;
    width: 150px;

    a {
        font-size: 14px;
        color: rgb(233, 237, 204);
        text-decoration: none;
    }
}

a:hover {
    color: burlywood;
}

.btn-player {
    font-size: 24px;
    margin: 80px auto;
    text-align: center;
    padding-top: 20px;
    width: 300px;
    height: 80px;
    cursor: pointer;
}


 .conteneur {

    width: 60%;
    height: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-haut,
    .section-bas {
        background-color: $bleu-fonce;
        margin: 0px auto;
        width: 80%;
        border-top:2px solid rgba(49, 49, 49, 0.8) ;
        border-left:2px solid rgba(49, 49, 49, 0.8) ;
        border-right:1px solid rgba(199, 215, 237, 0.9) ;
        border-bottom:2px solid rgba(199, 215, 237, 0.6) ;
        box-shadow: 5px 5px 20px 5px rgba(49, 49, 49, 0.6) inset;
        padding: 0px;
        

    }

    input {
        width: 30%;
        height: 30px;
        border-top:1px solid rgba(28, 27, 27, 0.7) ;
        border-left:1px solid rgba(49, 49, 49, 0.8) ;
        border-right:1px solid rgba(199, 215, 237, 0.6) ;
        border-bottom:1px solid rgba(199, 215, 237, 0.5) ;
        box-shadow: 4px 4px 20px 3px rgba(49, 49, 49, 0.6) inset;
        background-color: burlywood;
        border-radius: 10px;
        margin: 20px auto;
        font-size: 16px;

    }

    
    .section-haut {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 400px;
        margin-top: 10px;
        overflow: auto;


        .liste-chansons {
            border-bottom: 1px solid $bleu-pale;
            display: flex;
            justify-content: space-between;
            
            margin: 0px auto;
            width: 90%;
            height: 15%;
        
                div {
                    padding: 10px;
                    background-color: transparent;
                    
                }

        }
        .liste-chansons:hover {
            background-color: $bleu-tres-fonce;
        }
       
    }

    .section-bas {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
        height: 300px;

        .titre-chanson-active {
            display: flex;
            justify-content: center;
            height: 130px;
    
            .image-chanson img { 
                border: 1px solid honeydew;
                border-radius: 10px;
                height: 100px;
                margin: 15px;
                width: 100px;
                object-fit: contain;
                object-position: center center;
    
    
            }
    
            .titre-chanson {
                margin: 15px;
                width: 30%;
                height: 100px;
            }
        }
    
        .barre-temps {
            height: 50px;
        }
    
        .controles {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            justify-content: space-between;
            height: 100px;
            
    
            .bouton-play {
            
                color: $bleu-tres-fonce;
                font-size: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top:1px solid rgba(28, 27, 27, 0.7) ;
                border-left:1px solid rgba(49, 49, 49, 0.8) ;
                border-right:1px solid rgba(199, 215, 237, 0.6) ;
                border-bottom:1px solid rgba(199, 215, 237, 0.5) ;
                box-shadow: 4px 4px 20px 3px rgba(49, 49, 49, 0.6) inset;
                background-color: burlywood;
                height: 60px;
                margin-top: 15px;
                padding-left: 5px;
                width: 80px;
                border-radius: 25px;
            }
    
            .bouton-pause {
            
                color: $bleu-tres-fonce;
                font-size: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top:1px solid rgba(28, 27, 27, 0.7) ;
                border-left:1px solid rgba(49, 49, 49, 0.8) ;
                border-right:1px solid rgba(199, 215, 237, 0.6) ;
                border-bottom:1px solid rgba(199, 215, 237, 0.5) ;
                box-shadow: 4px 4px 20px 3px rgba(49, 49, 49, 0.6) inset;
                background-color: burlywood;
                height: 60px;
                margin-top: 15px;
                padding-left: 5px;
                width: 80px;
                border-radius: 25px;
            }
        }

    }



}

