body {
    // background-color: #333;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;
    color: rgb(233, 237, 204);  
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    margin: 0px;
}

$bleu-tres-fonce: rgb(42, 59, 75);
$bleu-fonce: rgb(61, 80, 106);
$bleu-moyen: rgb(95, 129, 160);
$bleu-pale: rgb(186, 221, 255);


.contour{

    box-sizing: border-box;
    border-bottom:3px solid rgba(49, 49, 49, 0.8) ;
    border-right:3px solid rgba(49, 49, 49, 0.8) ;
    border-top:2px solid rgba(226, 238, 255, 0.9) ;
    border-left:3px solid rgba(199, 215, 237, 0.6) ;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    background-color: $bleu-moyen;

}

.btn-retour {
    
    height: 50px;
    margin: 30px;
    margin: 10px;
    margin-left: 10%;
    padding: 10px 0px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    color: rgb(233, 237, 204);
    text-decoration: none;
    cursor: pointer;

}

.btn-player {
    font-size: 24px;
    margin: 200px auto;
    text-align: center;
    padding-top: 20px;
    width: 300px;
    height: 80px;
    cursor: pointer;
}

.btn-player:hover,
.btn-retour:hover {
    background-color: $bleu-pale;
    color: rgb(186, 151, 105);
    transition: all 0.3s;
}


.conteneur {

    width: 60%;
    height: 800px;
    max-height: 90vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-haut,
    .section-bas {
        background-color: $bleu-fonce;
        margin: 0px auto;
        width: 80%;
        border-top:2px solid rgba(49, 49, 49, 0.8) ;
        border-left:2px solid rgba(49, 49, 49, 0.8) ;
        border-right:1px solid rgba(199, 215, 237, 0.9) ;
        border-bottom:2px solid rgba(199, 215, 237, 0.6) ;
        box-shadow: 5px 5px 20px 5px rgba(49, 49, 49, 0.6) inset;
        padding: 0px;
        

    }

    .recherche {
        width: 30%;
        height: 30px;
        border-top:1px solid rgba(28, 27, 27, 0.7) ;
        border-left:1px solid rgba(49, 49, 49, 0.8) ;
        border-right:1px solid rgba(199, 215, 237, 0.6) ;
        border-bottom:1px solid rgba(199, 215, 237, 0.5) ;
        box-shadow: 4px 4px 20px 3px rgba(49, 49, 49, 0.6) inset;
        background-color: burlywood;
        border-radius: 10px;
        margin: 20px auto;
        font-size: 16px;
        text-align: center;
        color: $bleu-tres-fonce;

    }

    //Pour foncir le placeholder dans recherche
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $bleu-tres-fonce;
        opacity: 1; /* Firefox */
      }
        
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $bleu-tres-fonce;
      }

    
    .section-haut {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 400px;
        margin-top: 10px;
        overflow: auto;

        
        .liste-chansons {
            // background-color: $bleu-tres-fonce;
            border-bottom: 1px solid $bleu-pale;
            display: flex;
            justify-content: space-between;    
            margin: 0px auto;
            width: 90%;
            height: 15%;
            
            div {
                padding: 10px;
                // background-color: transparent;                   
                .active-song {
                    background-color: transparent;
                }
            }
        }
       
        .liste-chansons:hover {
            background-color: $bleu-tres-fonce;
            cursor: pointer;
        }

    }

    .section-bas {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
        height: 300px;

        .titre-chanson-active {
            display: flex;
            height: 130px;
            justify-content: space-between;
            margin: 0px 20%;

            h3,
            p {
                margin-top: 0px;
            }
    
            .image-chanson img { 
                // border: 1px solid honeydew;
                // border-radius: 10px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                height: 100px;
                margin: 15px 0px;
                width: 100px;
                object-fit: contain;
                object-position: center center;
    
            }
    
            .titre-chanson {
                margin: 15px;
                width: 60%;
                height: 100px;

            
            }
        }
    
        .barres {
            display: flex;
            justify-content: space-around;
            height: 50px;
            margin: 0px auto;
            
            .volume > p,
            .temps > p {
                margin: 0px auto;
                text-align: center;
            }

            .temps {
                width: 55%;

                input {
                    width: 100%;
                }
            }

            .volume {
                width: 35%;

                input {
                    width: 100%;
                }
            }
        }
    
        .controles {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            justify-content: space-between;
            height: 100px;
            
    
            .bouton-play,
            .bouton-pause {
            
                align-items: center;
                background-color: burlywood;
                background-size: cover;
                background-position: center;
                border-radius: 20px;
                border-top:1px solid rgba(28, 27, 27, 0.7) ;
                border-left:1px solid rgba(49, 49, 49, 0.8) ;
                border-right:1px solid rgba(199, 215, 237, 0.6) ;
                border-bottom:1px solid rgba(199, 215, 237, 0.5) ;
                box-shadow: 4px 4px 20px 3px rgba(49, 49, 49, 0.6) inset;
                // color: $bleu-tres-fonce;
                display: flex;
                // font-size: 50px;
                height: 80px;
                justify-content: center;
                margin-left: 50%;
                margin-top: 0px;
                padding-left: 5px;
                transform: translateX(-50%);
                width: 80px;
            }
    
            .bouton-play {
                background-image: url("../images/bouton-play.png");       
            }
            .bouton-pause {
                background-image: url("../images/bouton-pause.png");       
            }

            .bouton-play:hover,
            .bouton-pause:hover {
                background-color: rgb(255, 201, 131);
                cursor: pointer;
                transition: all 0.3s;
            }


        }

    }



}

