<div class="btn-retour contour"  @click.prevent="$root.changerPage('accueil')">
    Retour à l'accueil
</div>

<main class="conteneur contour">

    <input class="recherche" type="text" v-model="texte_input" placeholder="Rechercher">

    <div class="section-haut">

        <!-- chaque chanson du fetch chansons -->
        <div class="liste-chansons" v-for="chanson in chansons.filter(rechercheChansons)" @click="afficherChanson(chanson)">
            <div>{{chanson.titre}}</div>
            <div>{{chanson.artiste}}</div>   
            <div>{{chanson.temps}}</div>   
            <!-- <div>{{tempsChanson(chanson.temps)}}</div> -->

 
            <!-- <div class="{active-song: actif}" @click="hover" :style="style_chanson">{{chanson.titre}} {{chanson.artiste}} {{chanson.temps}}</div> -->
       
        </div>

    </div>

    <div class="section-bas">

        <div class="titre-chanson-active">
            <div class="image-chanson">
                <img class="contour" :src="'images/' + chanson_selection.image" alt="">
            </div>
            <div class="titre-chanson">
                <h3>{{chanson_selection.titre}}</h3>
                <p>{{chanson_selection.artiste}}</p> 
            </div>
        </div>

        <div class="barres">
            <div class="temps">
                <input type="range" min="0" :max="chanson_selection.temps" step="0.01" v-model="temps_actuel" @input="timeline">
                <p>{{texte_temps}}{{timeline}}</p>
            </div>
            <div class="volume">
                <input type="range" min="0" max="1" step="0.02" v-model="son" @input="volume">
                <p>{{texte_volume}}{{this.show_volume}}</p>
            </div>
        </div>

        <div class="controles">

            <!-- le bouton play est visible si musique_joue est à false -->
            <div class="bouton-play" v-if="!musique_joue" @click="play"></div>

            <!-- sinon, si musique_joue est à true, le bouton pause est visible -->
            <div class="bouton-pause" v-else @click="pause"></div>

        </div>


    </div>


</main>
